.links {
  stroke: rgb(158, 158, 158);
}

.node {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 30%;
}
.tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 20px;
}
