.links {
  stroke: grey;
}

.flag {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 30%;
  background: rgb(121, 108, 179);
}
.tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 20px;
}
